* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #cc8800;
}

.calculator {
    padding: 1rem;
    margin: 4rem auto;
    border: 1px black solid;
    border-radius: 8px;
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    background-color: #eeeeee;
}

.screen {
    grid-column: 1 / 5;
    background-color: #cccccc;
    border: 1px solid black;
}

.clear {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd6600;
    border-radius: 8px;
}

.delete {
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066ff;
    border-radius: 8px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88aa11;
    border-radius: 8px;
}